/* @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap'); */

@font-face{
    font-family:organ;
    src: url(CHERL___.TTF);
}

@font-face{
    font-family:organs;
    src: url(CHERI___.TTF);
}

*{
    font-family: 'organs', cursive;
}


p{
    font-family: 'organ', cursive;
}

*{
    background-color: rgb(172, 120, 120);
}
h2{
    color:blue
}

h1{
    color:red
}

#navbar{
   background-color: rgb(68, 248, 14);
}

a{
color:red
}



a:hover{
color: black;
}

a:active{
    color:green
 } 

/* a:visited{
    color:yellow
} */

/* .content{
    display: flex;
    flex-direction: center;
    justify-content: center;
    color:red;
    font-family: 'organs',cursive;
} */


h1,h2{
    display: flex;
    /* flex-direction: center; */
    justify-content: center  ;
    color:red;
    font-family: 'organs',cursive;
}

.left{
    display: flex;
    justify-content: left;
}


.center{
    display: flex;
    justify-content: center;
}


.right{
    display: flex;
    justify-content: right;
}

/* .lowerbox{
    display:flex;
    justify-content:space-evenly;
} */

             /* 
             image slider starts here */
.slider{
    display: flex;
}

.slider {
    overflow:hidden;
}

.slider figure{
    position: relative;
    width: 400%;
    margin: 0;
    left:0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;    
    }
    25% {
        left: -100%;
    }
    45% {
        left:-100%;
    }
    50% {
        left:-200%;
    }
    70% {
        left: -200%;
    }       
    75% {
        left: -300%
    }
    95% {
        left: -300%
    }
    100%{
        left: -400%;
    }

    
}